/**{width: 100%}
h1{color: red;}
p span{color: blue;}
.uno{color: pink;}
.dos{color: brown;}


#tt_segundo{border: 2px solid red ;}*/
.tbl_user{width: 100%;}
.tbl_consultas{position:absolute; top:20%; left:50%}
.div_csl{margin: 0 auto;}
.div_user{width: 40%;}
#tbl_title{position: absolute;top: 5% ;left: 40%;}